.btn a {
  display: inline-block;
  position: relative;
  background: transparent;
  color: #00ff00;
  text-decoration: none;
  font-family: Poppins;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 10px 20px;
  margin: 15px;
  font-weight: 600;
  transition: 0.7s;
  overflow: hidden;
}
.btn a.active,
.btn a:hover {
  background: #00ff00;
  color: #000;
  box-shadow: 0 0 30px rgba(0, 225, 0, 0.5);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
}
.btn .top {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0px;
  left: 0;
  background: linear-gradient(-90deg, #00ff00, transparent);
  animation: animate1 1s linear infinite;
}
.btn .bottom {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  right: -100%;
  background: linear-gradient(90deg, #00ff00, transparent);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}
.btn .left {
  position: absolute;
  width: 2px;
  height: 100%;
  bottom: -100%;
  left: 0px;
  background: linear-gradient(180deg, #00ff00, transparent);
  animation: animate3 1s linear infinite;
  animation-delay: 0.75s;
}
.btn .right {
  position: absolute;
  width: 2px;
  height: 100%;
  top: -100%;
  right: 0px;
  background: linear-gradient(0deg, #00ff00, transparent);
  animation: animate4 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
@keyframes animate4 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes animate2 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
@keyframes animate3 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
