* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida sans";
}
body {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex; /*none*/
  justify-content: center;
  align-items: center;
  background-color: #9500ff;
  overflow: hidden;
}
.container .login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.container .login {
  display: flex;
  transition: 1s;
}
.container .login form {
  width: 300px;
}

.container .login form h1 {
  color: #333;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.container .login form input {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  border: none;
  outline: none;
  background-color: #d0d0d0;
}
.container .login form input[type="submit"] {
  background-color: #3150eb;
  max-width: 40%;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.container .login form input[type="submit"]:active {
  background-color: #273eb0;
}

@media only screen and (max-width: 400px) {
  .container {
    position: relative;
  }
  .container:before {
    content: "";
    position: absolute;
    display: block;
    width: 800px;
    height: 75vh;
    background-color: #fff;
    transform: rotate(-200deg);
  }
  .container .login {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
  }
  .container .login form {
    width: calc(100% - 20px);
  }
  .container .login form h1 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
  }

  .container .login form input {
    padding: 15px;
    font-size: 15px;
    width: 100%;
    margin: 20px 0;
  }
  .container .login form input[type="submit"] {
    max-width: 80%;
    margin: 20px 0;
    position: absolute;
    left: 50%;
    font-size: 16px;
    padding: 10px;
    transform: translateX(-50%);
  }
}
